<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.irishka.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.movies.view.MoviesListActivity"
            android:theme="@style/AppCompatDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.movie.view.MovieActivity"
            android:theme="@style/AppCompatDarkNoActionBar"
            android:parentActivityName=".ui.movies.view.MoviesListActivity">
        </activity>
        <activity android:name=".ui.movie.creators.actor.ActorActivity"
            android:theme="@style/AppCompatDarkNoActionBar">
        </activity>

        <activity  android:name=".ui.movie.description.view.ImageDialog" android:theme="@style/myDialogTheme" />
    </application>

</manifest>